<h2 mat-dialog-title>Editar Cliente</h2>
<mat-dialog-content class="mat-typography">
        <!-- Contenido de la card-->
        <form [formGroup]="clientForm">
        <table class="example-full-width" cellspacing="0"><tr>
            <td>
        
            <mat-form-field appearance="outline">
                <mat-label>Nit</mat-label>
                <input formControlName="nit" matInput placeholder="Nit">
              
            </mat-form-field>
        </td>
          <td><mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input formControlName="name" matInput placeholder="Nombre">
             
            </mat-form-field>
        </td></tr></table>
        <table class="example-full-width" cellspacing="0"><tr>
           <td><mat-form-field appearance="outline">
                <mat-label>Apellido</mat-label>
                <input formControlName="lastname" matInput placeholder="Apellido">
                
            </mat-form-field></td>
          <td><mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput placeholder="Email">
               
            </mat-form-field>
        </td></tr></table>
        <table class="example-full-width" cellspacing="0"><tr>
           <td><mat-form-field appearance="outline">
                <mat-label>Teléfono</mat-label>
                <input formControlName="phone" matInput placeholder="Teléfono">
              
            </mat-form-field></td>
            <td> <mat-form-field appearance="outline">
                <mat-label>Fecha de nacimiento</mat-label>
                <input formControlName="birthday" matInput [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field></td>
            </tr></table>
            <mat-form-field appearance="outline">
                <mat-label>Dirección</mat-label>
                <textarea formControlName="address" matInput placeholder="Dirección"></textarea>
               
            </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Cupo crédito</mat-label>
                <input formControlName="credit_days" matInput type="number" placeholder="Cupo crédito">
                
            </mat-form-field>
        </form>
    </mat-dialog-content>
        <!--Final del contenido de la card-->
    <mat-dialog-actions align="end">
      <a mat-button color="success" mat-dialog-close>Cancelar</a>
      <button mat-button color="primary" (click)="editDataPerson()">Guardar</button>
    </mat-dialog-actions>