<mat-sidenav-container class="sidenav-container mat-elevation-z2">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'push' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <div>
        <h3 class="title">Luis Luna</h3>
        <h4 class="subtitle" style="color: #48115f;">luis@output.com</h4>
      </div>
    </mat-toolbar>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <h3 matSubheader color="primary">Principal</h3>
      <a mat-list-item class="mennu-font" routerLink="/typerson">Tipo de persona</a>
      <a mat-list-item class="mennu-font" routerLink="/client">Cliente</a>
      <a mat-list-item class="mennu-font" routerLink="#">Link 3</a>
    </mat-nav-list>
    <mat-divider></mat-divider>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="#ffffff">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Lummen CRM</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon matBadge="15" matBadgeColor="warn">notifications</mat-icon>
      </button>
    </mat-toolbar>

    <app-dashboard></app-dashboard>
  </mat-sidenav-content>
</mat-sidenav-container>
