.sidenav-container {
  height: 100%;
  
}

.example-spacer {
  flex: 1 1 auto;
}

.sidenav {
  width: 240px;
  z-index: 30px;
}

.sidenav .mat-toolbar {
  padding: 25% 0% 30% 10%;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  font-weight: 400;
}

/** Variables constantes **/
.title{
  font-size: 20px;
}
.subtitle{
  font-size: 14px;
  
}
.mennu-font{
  font-size: 15px;
}
