<div align="end" class="paddings">
    <a mat-button color="primary" routerLink="/client" >Nuevo Tipo de persona</a>
</div>    
<mat-card class="example-card">
    <mat-card-title>Nuevo Cliente</mat-card-title>
    <mat-card-subtitle>Agregue los datos para crear un cliente</mat-card-subtitle>
    
    <mat-card-content>
        <!-- Contenido de la card-->
        <form [formGroup]="clientForm">
            <mat-form-field appearance="outline">
                <mat-label>Nit</mat-label>
                <input formControlName="nit" matInput placeholder="Nit">
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input formControlName="name" matInput placeholder="Nombre">
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Apellido</mat-label>
                <input formControlName="lastname" matInput placeholder="Apellido">
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput placeholder="Email">
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Teléfono</mat-label>
                <input formControlName="phone" matInput placeholder="Teléfono">
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Dirección</mat-label>
                <textarea formControlName="address" matInput placeholder="Dirección"></textarea>
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Fecha de nacimiento</mat-label>
                <input formControlName="birthday" matInput [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Cupo crédito</mat-label>
                <input formControlName="credit_days" matInput type="number" placeholder="Cupo crédito">
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
        </form>
        <!--Final del contenido de la card-->
    </mat-card-content>
    <mat-card-actions align="end">
      <a mat-button color="success" routerLink="/client">Cancelar</a>
      <button mat-button color="primary" (click)="addPerson()">Guardar</button>
    </mat-card-actions>
  </mat-card>