
<table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field appearance="standard">
      <mat-label>Buscar/Filtrar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Arnoldo Gomez" #input>
    </mat-form-field></td>
    <td><div class="demo-button-container" align="end">
      <a mat-raised-button class="demo-button" routerLink="/addPerson" color="primary">
      Agregar
      </a>
  </div></td>
  </tr>
</table> 
    
    
  <div class="mat-elevation-z2">
      <table mat-table [dataSource]="dataSource" >
        <!-- Nombre Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nombre(s) </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
    
        <!-- Descripción Column -->
        <ng-container matColumnDef="lastname">
          <th mat-header-cell *matHeaderCellDef> Apellido(s) </th>
          <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
        </ng-container>

        <!-- Descripción Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>

           <!-- Descripción Column -->
        <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef> Telefono </th>
            <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
          </ng-container>

           <!-- Descripción Column -->
        <ng-container matColumnDef="type_person">
            <th mat-header-cell *matHeaderCellDef> Tipo </th>
            <td mat-cell *matCellDef="let element"> {{element.type_person}} </td>
          </ng-container>
    
        <!-- Acciones Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let element"> 
            <button mat-icon-button class="example-icon" (click)="editPerson(element)" color="primary" aria-label="Example icon-button with share icon">
              <mat-icon>edit</mat-icon>
            </button>  
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
              <mat-icon>visibility</mat-icon>
            </button>
            <button mat-icon-button (click)="deletePerson(element.id)" color="warn" class="example-icon" aria-label="Example icon-button with share icon">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
     <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                     showFirstLastButtons 
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
    